input {
    width: 50px;
    height: 50px;
}

table {
    margin: auto;
    margin-top: 50px;
}

#viewport {
    overflow: hidden;
    position: relative;
    /* width is specified inline */

    cursor: move;

    border: 1px solid black;
    background-color: #E5E3DF;

    margin: 0px auto;
}

#substrate {
    position: absolute;
    top: 0px; left: 0px;
}

#viewport img {
    border: none;
    position: absolute;
}

#help, #zoom {
    width: 50%;
    margin: 20px auto;
}

#zoom {
    text-align: center;
}

th {
    padding: 2px;
}

table#vehicles_list {
    background-color: #848484;
    border: 1px solid #646464;

    width: 500px;

}
table#vehicles_list tr {
    cursor: pointer;
}

table#vehicles_list td,
table#vehicles_list th {
    border-top: 1px solid #949494;
    border-bottom: 1px solid #747474;
    padding: 2px;
}

table#vehicles_list {
    font-size: x-small;
    color: black;
    text-decoration: none;
}

